# Node.js / npm
node_modules/
package-lock.json

# Yarn
yarn.lock

# Logs and Temporary files
*.log
*.tmp

# Environment configuration
.env
.env.local

# Dependency management (specific to your package manager)
/dist
/build



# Operating System files
.DS_Store
Thumbs.db

# Compiled JavaScript files (if applicable)
/lib
/out

# Coverage reports (if using testing frameworks)
/coverage

# Local development server configuration (if applicable)
.webpack-dev-server
